<form class="form-signin">
  <h2 class="form-signin-heading"><%= t('please_sign_in')%></h2>
  <label for="inputLogin" class=""><%= t('select_a_user') %></label>
  <input type="text" id="inputLogin" class="form-control" placeholder="" required="" autofocus="">
  <button class="btn btn-lg btn-primary btn-block" type="submit"><%= t('sign_in')%></button>
</form>