body {
    padding-top: 40px;
    padding-bottom:15px;
}

#navbar .navbar-form {
    label {
	color: #fff;
	margin: 10px;
    }
}

#navbar .user-info-bar {
    color: #fff;
    margin-top:15px;
    span {
	display:inline-block;
	margin:2px;
    }
}

