// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin{
    max-width:330px;
    padding:15px;
    margin:0 auto;
}


.form-signin .btn {
    margin-top: 7px;
}


